:root {
  --webpage-backdrop: #2f323b;

  --sidebar-background: #678870;
  --sidebar-color: #ffffff;
  --image-backdrop: #ffffff; 

  --form-background: #f5f5f5fa;
  --form-border: #d5d5d5;
  --input-upper-border: #e5e5e5;
  --input-lower-border: #868686;
  --input-background-color: #fafafa;
  --input-text: #5f5f5f;
  --input-background-hover: #eaeaea;
  --label-color: #1a1a1a;

  --filter-to-white: invert(100%) sepia(0%) saturate(0%) hue-rotate(108deg) brightness(104%) contrast(104%);
  --filter-to-red: invert(15%) sepia(92%) saturate(7324%) hue-rotate(2deg) brightness(106%) contrast(115%);
  --filter-to-red-hover: invert(9%) sepia(64%) saturate(7468%) hue-rotate(1deg) brightness(110%) contrast(110%);

  --history-color: #374e58; 
}

@font-face {
  font-family: 'monteserrat';
  src: url('../fonts/Montserrat-Bold.otf');
}

@font-face {
  font-family: 'roboto';
  src: url('../fonts/Roboto-Regular.ttf');
}

body {
  margin: 0;
  background-color: var(--webpage-backdrop);
}

#backdrop {
  display: flex;
  align-items: center;
  justify-content: center;
}

#cv-container {
  width: 794px;
  min-height: 1122px;
}

#header,
#footer {
  color: var(--sidebar-color);
}

#palette,
#header,
#footer,
#backdrop {
  padding: 40px;
}

#header h1 {
  font-family: 'roboto', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  letter-spacing: 15px;

  margin: 0;
}

#footer a {
  text-decoration: none;
  color: var(--sidebar-background);
}

#footer a:hover {
  filter: brightness(85%);
}

#background,
#sidebar {
  padding-top: 20px;
}

.print-to-pdf {
    padding: 10px 20px;

    width: 200PX;
    height: 50px;

    font-size: 1.3rem;
    font-family: 'roboto', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;

    border: none;
    border-radius: 3px;
    box-shadow: 0px 5px 0px var(--form-border);

    background-color: var(--sidebar-color);
    color: var(--sidebar-background);
    margin: 40px;

    cursor: pointer;
}

.print-to-pdf:hover {
  filter: brightness(85%);
}

.print-to-pdf:active {
  box-shadow: none;
  transform: translateY(5px);
}

/* Shared styling */

.section-header {
  align-self: flex-start;

  font-family: 'monteserrat', sans-serif;
  font-size: 1.3rem;
  font-weight: bold;
  text-transform: uppercase;

  margin: 0;
}

.cv-section {
  margin: 20px 30px;

  position: relative;
}

 .cv-section p,
 .cv-section a {
  font-family: 'roboto', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

button.edit-button {
  position: absolute;

  padding: 5px 15px;

  font-size: 1.1rem;

  border-radius: 5px;

  transition: 0.3s ease-in;
  cursor: pointer;
}

.absolute-position {
  position: absolute;
}

.absolute-top-left {
  top: 0;
  left: 0;
}

.absolute-top-right {
  top: 0;
  right: 0;
}

.absolute-bottom-right {
  bottom: 0;
  right: 0;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.centered-horizontal,
.centered-both {
  align-items: center;
}

.centered-both {
  justify-content: center;
}

.space-between {
  justify-content: space-between;
}


a {
  text-decoration: none;
}


ul {
  margin: 0;
  margin-top: 1em;
  padding: 0;

  list-style: none;
}

img.trashcan {
  filter: var(--filter-to-red);
  transition: 0.3s smooth;
  cursor: pointer;
}

img.trashcan:hover {
  filter: var(--filter-to-red-hover);
}

/* Left half of the CV */

#sidebar {
  min-height: 1000px;
  min-width: min-content;
  width: 34%;

  background-color: var(--sidebar-background);
  color: var(--sidebar-color);
}

#sidebar .section-header {
  color: var(--sidebar-color);
}

#sidebar button.edit-button {
  background-color: transparent;
  color: var(--sidebar-color);

  border: 1px solid var(--sidebar-color);
}

#sidebar button.edit-button:hover {
  background-color: var(--sidebar-color);
  color: var(--sidebar-background);

  border: 1px solid var(--sidebar-background);
}

.cv-image img {
  width: 175px;
  height: 175px;

  border-radius: 100px;
}

.cv-image img{
  box-shadow: 20px 0px 1px white;
}

#sidebar ul {
  align-self: flex-start;

  width: 100%;
}

#sidebar ul img {
  filter: var(--filter-to-white);
  transition: 0.3s smooth;
}

.contacts p,
.languages p {
  margin: 0;
  padding: 0;
}

#sidebar li {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;

  height: 24px;
  width: 100%;
  margin-top: 5px;
}

#sidebar li:first-child {
  margin-top: 0;
}

.contacts a {
  color: var(--sidebar-color);
}

#sidebar .languages ul li {
  justify-content: space-between;
}

.languages li img:hover {
  transform: scale(1.1);

  cursor: pointer;
}

/* Right half of the CV */

#background {
  min-height: 1000px;
  width: 66%;

  background-color: var(--sidebar-color);
  color: var(--history-color);
  font-family: 'roboto', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#background button.edit-button {
  background-color: var(--sidebar-color);
  color: var(--input-lower-border);

  border: 1px solid var(--form-border);
}

#background button.edit-button:hover {
  background-color: var(--sidebar-background);
  color: var(--sidebar-color);
}

.cv-section.name {
  margin-bottom: 70px;
}

div.name h1 {
  margin: 0;

  color: var(--sidebar-background);

  font-size: 2.4rem;
}

div.name h2 {
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: 3px;

  margin: 0;
}

.work-entry,
.education-entry {
  margin-top: 1em;
  position: relative;

  white-space: pre-wrap;
}

.work-entry h4,
.education-entry h4 {
  font-size: 1.2rem;
}

div.work-entry h3,
div.work-entry p,
div.work-entry h4,
div.education-entry h3,
div.education-entry p,
div.education-entry h4 {
  margin: 5px 0;
}

.job-info {
  font-weight: bold;
}