:root {
  --color-name: #1a1a1a;
  --color-hex: #b3b3b3;
  --color-box-shadow: #2c2c2c;
}

#cv-container.saffron,
:root.saffron {
  --sidebar-background: #b7995f;
}

#cv-container.brick 
:root.brick{
  --sidebar-background: #914646;
}

#cv-container.lilac,
:root.lilac {
  --sidebar-background: #6b6788;
}

#cv-container.pea,
:root.pea {
  --sidebar-background: #678870;
}

#cv-container.navy,
:root.navy {
  --sidebar-background: #465591;
}

.palette {
  background-color: var(--webpage-backdrop)
}

.color-container {
  display: flex;
  flex-direction: column;
  
  height: 150px;
  width: 125px;

  box-shadow: 0px 3px 4px var(--color-box-shadow);
  margin: 0 25px;

  cursor: pointer;
  transition: 0.2s ease-out;
}

.color-container:hover {
  transform: translateY(-5px);
}

.color-sample {
  height: 100px;

  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}

.color-container p {
  margin: 0;
}

.color-info {
  background-color: #ffffff;
  padding: 8px;
}

.color-name {
  color: var(--color-name);
}

.color-hex {
  color: var(--color-hex);
  text-transform: uppercase;
}