:root {
  --webpage-backdrop: #2f323b;

  --sidebar-background: #678870;
  --sidebar-color: #ffffff;
  --image-backdrop: #ffffff; 

  --form-background: #f5f5f5fa;
  --form-border: #d5d5d5;
  --input-upper-border: #e5e5e5;
  --input-lower-border: #868686;
  --input-background-color: #fafafa;
  --input-text: #5f5f5f;
  --input-background-hover: #eaeaea;
  --label-color: #1a1a1a;

  --filter-to-white: invert(100%) sepia(0%) saturate(0%) hue-rotate(108deg) brightness(104%) contrast(104%);
  --filter-to-red: invert(15%) sepia(92%) saturate(7324%) hue-rotate(2deg) brightness(106%) contrast(115%);
  --filter-to-red-hover: invert(9%) sepia(64%) saturate(7468%) hue-rotate(1deg) brightness(110%) contrast(110%);

  --history-color: #374e58; 
}

@font-face {
  font-family: 'monteserrat';
  src: url('../fonts/Montserrat-Bold.otf');
}

@font-face {
  font-family: 'roboto';
  src: url('../fonts/Roboto-Regular.ttf');
}

body {
  margin: 0;
  background-color: var(--webpage-backdrop);
}

#backdrop {
  display: flex;
  align-items: center;
  justify-content: center;
}

#cv-container {
  width: 794px;
  min-height: 1122px;
}

#header,
#footer {
  color: var(--sidebar-color);
}

#palette,
#header,
#footer,
#backdrop {
  padding: 40px;
}

#header h1 {
  font-family: 'roboto', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  letter-spacing: 15px;

  margin: 0;
}

#footer a {
  text-decoration: none;
  color: var(--sidebar-background);
}

#footer a:hover {
  filter: brightness(85%);
}

.print-to-pdf {
    padding: 10px 20px;

    width: 200PX;
    height: 50px;

    font-size: 1.3rem;
    font-family: 'roboto', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;

    border: none;
    border-radius: 3px;
    box-shadow: 0px 5px 0px var(--form-border);

    background-color: var(--sidebar-color);
    color: var(--sidebar-background);
    margin: 40px;

    cursor: pointer;
}

.print-to-pdf:hover {
  filter: brightness(85%);
}

.print-to-pdf:active {
  box-shadow: none;
  transform: translateY(5px);
}

.section-header {
  align-self: flex-start;

  font-family: 'monteserrat', sans-serif;
  font-size: 1.3rem;
  font-weight: bold;
  text-transform: uppercase;

  margin: 0;
}

#sidebar .section-header {
  color: var(--sidebar-color);
}

 .cv-section p,
 .cv-section a {
  font-family: 'roboto', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

button.edit-button {
  position: absolute;

  padding: 10px 25px;

  font-size: 1.1rem;

  border-radius: 5px;

  transition: 0.3s ease-in;
  cursor: pointer;
}

.absolute-position {
  position: absolute;
}

.absolute-top-left {
  top: 0;
  left: 0;
}

.absolute-top-right {
  top: 0;
  right: 0;
}

.absolute-bottom-right {
  bottom: 0;
  right: 0;
}

button.edit-button {
  background-color: var(--sidebar-color);
  color: var(--sidebar-background);

  border: 1px solid var(--sidebar-background);
}

button.edit-button:hover {
  background-color: var(--sidebar-background);
  color: var(--sidebar-color);

  filter: brightness(80%);
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.centered-horizontal,
.centered-both {
  align-items: center;
}

.centered-both {
  justify-content: center;
}

.space-between {
  justify-content: space-between;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  margin-top: 1em;
  padding: 0;

  list-style: none;
}

#sidebar img.trashcan,
img.trashcan {
  filter: var(--filter-to-red);
  transition: 0.3s smooth;

  cursor: pointer;
}

#sidebar img.trashcan:hover,
img.trashcan:hover {
  filter: var(--filter-to-red-hover);
}
